.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  align-items: center;
  
}

.login-container button {
  background-color: var(--primary-light-color);
  padding: 16px;
  border-radius: 24px;
  border: 1px solid var(--text-color);
  transition: background-color 100ms linear;
}

.login-container button:hover {
  background-color: color-mix(in srgb, var(--primary-light-color) 80%, #fff);
  cursor: pointer;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}