.nav-container {
  width: 100%;
  margin: 0;
  height: auto;
  justify-content: center;
  display: flex;
  gap: 24px;
  padding: 24px 0;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--primary-color);
}

.nav-container a, a:visited {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: color 150ms linear;
  color: var(--text-color);
}

.nav-container a:hover {
  color: color-mix(in srgb, var(--text-color) 60%, #fff);
}